In [ ]:
import pandas_datareader.data as pdr
import yfinance as yf

yf.pdr_override()
all_data = {item:pdr.get_data_yahoo(item) for item in ['2330.TW','2303.TW','2454.TW','2317.TW']}
all_data

In [ ]:
import pandas as pd
items = {ticker:data['Adj Close']for ticker,data in all_data.items()}
stock_price = pd.DataFrame(items)
stock_price.columns = ['台積電','聯電','聯發科','鴻海']
stock_price

In [ ]:
stock_price.info()
#發現許多不用的資料需要整理

In [29]:
df1=stock_price.dropna()
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5695 entries, 2001-07-23 to 2024-06-25
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台積電     5695 non-null   float64
 1   聯電      5695 non-null   float64
 2   聯發科     5695 non-null   float64
 3   鴻海      5695 non-null   float64
dtypes: float64(4)
memory usage: 222.5 KB

                   台積電         聯電          聯發科          鴻海
Date
2001-07-23   20.068764  11.974671    28.596710   15.761833
2001-07-24   19.895649  11.940749    30.426035   15.449725
2001-07-25   20.414661  12.246053    32.546429   15.866561
2001-07-26   20.933674  12.585276    34.759869   16.386044
2001-07-27   21.971703  12.856659    34.662964   16.073942
...                ...        ...          ...         ...
2024-06-19  981.000000  56.799999  1485.000000  203.000000
2024-06-20  981.000000  57.500000  1500.000000  217.500000
2024-06-21  970.000000  57.700001  1490.000000  212.000000
2024-06-24  940.000000  56.799999  1410.000000  206.000000
2024-06-25  932.000000  56.099998  1390.000000  205.000000

[5695 rows x 4 columns]

In [ ]:
df1.query('台積電>=500')

In [ ]:
#date (型別為DatetimeIndex:)是個索引
df1.loc['2023-01-04']

In [ ]:
#型別是datetime 的好處:直接月份抓資料
df1.loc['2023-01']

In [ ]:
#型別是datetime 的好處:直接用年份抓資料
df1.loc['2023']

In [34]:
stock2023 = df1.loc['2023-03-05':'2023-05-05']
stock2023

                   台積電         聯電         聯發科          鴻海
Date
2023-03-06  505.927277  48.394112  689.812134   98.729996
2023-03-07  508.840393  48.114372  693.331604  100.160866
2023-03-08  505.927277  48.580597  675.734314   99.206955
2023-03-09  506.898285  48.953579  674.854431   97.776085
2023-03-10  498.158691  48.487354  665.175964   97.299126
2023-03-13  501.071899  48.953579  672.214844   98.253044
2023-03-14  495.245483  47.275169  669.575317   97.299126
2023-03-15  496.216522  48.207619  666.935730   97.776085
2023-03-16  493.043304  48.487354  665.175964   97.299126
2023-03-17  505.735504  49.606293  680.133606   98.729996
2023-03-20  499.877563  49.606293  677.494019   97.776085
2023-03-21  504.759216  49.233311  678.373901   98.729996
2023-03-22  520.380371  49.886028  687.172546   98.729996
2023-03-23  525.261963  49.699535  697.730896   98.729996
2023-03-24  526.238281  49.513046  695.091309  100.637825
2023-03-27  518.427734  49.419804  686.292725   98.729996
2023-03-28  512.569763  48.673843  673.974609   98.253044
2023-03-29  517.451355  48.021130  680.133606   98.729996
2023-03-30  522.333069  48.580597  684.532959   99.683914
2023-03-31  520.380371  49.326557  692.451721   99.206955
2023-04-06  517.451355  49.233311  662.536377   98.729996
2023-04-07  518.427734  48.860332  659.016968   98.253044
2023-04-10  516.475159  48.580597  652.857910   98.253044
2023-04-11  511.593506  48.114372  665.175964   98.729996
2023-04-12  507.688171  48.580597  666.935730   97.776085
2023-04-13  497.924927  48.114372  659.896790   98.253044
2023-04-14  503.782837  47.834637  658.137085   99.683914
2023-04-17  507.688171  48.487354  623.822449   99.206955
2023-04-18  502.806519  48.580597  605.345337   99.683914
2023-04-19  497.924927  47.741394  593.907104   99.206955
2023-04-20  500.853912  47.275169  592.147400   99.683914
2023-04-21  498.901215  46.715698  585.108521   99.206955
2023-04-24  494.995941  46.249474  594.786987   98.729996
2023-04-25  486.209015  45.223782  571.910522   98.253044
2023-04-26  479.862915  45.130539  571.030701   98.729996
2023-04-27  481.815613  45.550137  582.468933   98.729996
2023-04-28  490.114349  45.783249  585.108521   99.683914
2023-05-02  489.138000  46.482586  590.387695  101.114784
2023-05-03  484.256439  46.575832  598.306458  100.637825
2023-05-04  486.209015  46.296101  587.748108  100.160866
2023-05-05  488.161682  46.249474  593.907104  100.160866

In [36]:
pctchange = df1.loc['2023'].pct_change().dropna()
pctchange
#當前元素與先前元素之間的分數變化。

                 台積電        聯電       聯發科        鴻海
Date
2023-01-04 -0.007726 -0.008454 -0.012422 -0.010091
2023-01-05  0.020022  0.004872 -0.007862 -0.001019
2023-01-06  0.000000  0.027879  0.045959  0.004082
2023-01-09  0.049073  0.049528  0.022727  0.007114
2023-01-10  0.010395  0.011236  0.028148  0.003027
...              ...       ...       ...       ...
2023-12-25 -0.001718  0.004000  0.005051  0.000000
2023-12-26  0.008606  0.011952  0.005025  0.004831
2023-12-27  0.010239  0.053150  0.040000 -0.004808
2023-12-28  0.001689 -0.018692 -0.014423  0.004831
2023-12-29  0.000000  0.001905 -0.009756  0.004808

[238 rows x 4 columns]

In [37]:
stock2023_1 = (stock2023 - stock2023.shift(1)).dropna()
stock2023_1

                  台積電        聯電        聯發科        鴻海
Date
2023-03-07   2.913116 -0.279739   3.519470  1.430870
2023-03-08  -2.913116  0.466225 -17.597290 -0.953911
2023-03-09   0.971008  0.372982  -0.879883 -1.430870
2023-03-10  -8.739594 -0.466225  -9.678467 -0.476959
2023-03-13   2.913208  0.466225   7.038879  0.953918
2023-03-14  -5.826416 -1.678410  -2.639526 -0.953918
2023-03-15   0.971039  0.932449  -2.639587  0.476959
2023-03-16  -3.173218  0.279736  -1.759766 -0.476959
2023-03-17  12.692200  1.118938  14.957642  1.430870
2023-03-20  -5.857941  0.000000  -2.639587 -0.953911
2023-03-21   4.881653 -0.372982   0.879883  0.953911
2023-03-22  15.621155  0.652718   8.798645  0.000000
2023-03-23   4.881592 -0.186493  10.558350  0.000000
2023-03-24   0.976318 -0.186489  -2.639587  1.907829
2023-03-27  -7.810547 -0.093243  -8.798584 -1.907829
2023-03-28  -5.857971 -0.745960 -12.318115 -0.476952
2023-03-29   4.881592 -0.652714   6.158997  0.476952
2023-03-30   4.881714  0.559467   4.399353  0.953918
2023-03-31  -1.952698  0.745960   7.918762 -0.476959
2023-04-06  -2.929016 -0.093246 -29.915344 -0.476959
2023-04-07   0.976379 -0.372978  -3.519409 -0.476952
2023-04-10  -1.952576 -0.279736  -6.159058  0.000000
2023-04-11  -4.881653 -0.466225  12.318054  0.476952
2023-04-12  -3.905334  0.466225   1.759766 -0.953911
2023-04-13  -9.763245 -0.466225  -7.038940  0.476959
2023-04-14   5.857910 -0.279736  -1.759705  1.430870
2023-04-17   3.905334  0.652718 -34.314636 -0.476959
2023-04-18  -4.881653  0.093243 -18.477112  0.476959
2023-04-19  -4.881592 -0.839203 -11.438232 -0.476959
2023-04-20   2.928986 -0.466225  -1.759705  0.476959
2023-04-21  -1.952698 -0.559471  -7.038879 -0.476959
2023-04-24  -3.905273 -0.466225   9.678467 -0.476959
2023-04-25  -8.786926 -1.025692 -22.876465 -0.476952
2023-04-26  -6.346100 -0.093243  -0.879822  0.476952
2023-04-27   1.952698  0.419598  11.438232  0.000000
2023-04-28   8.298737  0.233112   2.639587  0.953918
2023-05-02  -0.976349  0.699337   5.279175  1.430870
2023-05-03  -4.881561  0.093246   7.918762 -0.476959
2023-05-04   1.952576 -0.279732 -10.558350 -0.476959
2023-05-05   1.952667 -0.046627   6.158997  0.000000

In [38]:
pctchange.corr()

          台積電        聯電       聯發科        鴻海
台積電  1.000000  0.597072  0.426387  0.249361
聯電   0.597072  1.000000  0.374385  0.145541
聯發科  0.426387  0.374385  1.000000  0.081239
鴻海   0.249361  0.145541  0.081239  1.000000